<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <h1>Add Category</h1>
        <br />
        <form method="post" action="/admin/addcategory">
            <input type="text" class="form-control" name="name" placeholder="Category Name"/>
            <br />
            <button class="btn btn-primary">Add Category</button>
        </form>
    </div>
</div>


