@using ECommerce.Data;
@model IEnumerable<Category>;


<div class="col-md-6 col-md-offset-3 well">
    <h1>Add Product</h1>
    <br />
    <form method="POST" action="/admin/addproduct" enctype="multipart/form-data">
        <input type="text" placeholder="Product Name" name="name" class="form-control"/>
        <br />
        <input type="text" placeholder="Price" name="price" class="form-control"/>
        <br />
        <label>Choose category:</label>
        <br />
        <select id="category" name="categoryid" class="form-control">
            @foreach (Category c in @Model)
            {
                <option value="@c.Id">@c.Name</option>
            }
        </select>
        <br />
        <label>Choose picture to be displayed with product:</label>
        <br />
        <input type="file" name="imageFile" />
        <br />
        <button class="btn btn-primary">Add Product</button>
    </form>
</div>