<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <h1 class="col-md-offset-3">Admin Options</h1>
        <a href="/admin/addproduct" style="font-size: 30px" class="btn">Add Product</a>
        <br />
        <a href="/admin/addcategory" style="font-size: 30px" class="btn">Add Category</a>\
        <br />
        <a href="/admin/vieworders" style="font-size: 30px" class="btn">View Orders</a>
    </div>
</div>
